<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="CassandraSharp" type="CassandraSharp.SectionHandler, cassandra-sharp"/>
  </configSections>

  <CassandraSharp>
    <Cluster name="TestCassandra">
      <Behavior maxRetries="3" keyspace="samples" readCL="ONE" writeCL="LOCAL_QUORUM"/>

      <Transport type="Framed" port="9160" poolSize="1"/>

      <Endpoints>
        <Server>127.0.0.1</Server>
      </Endpoints>
    </Cluster>
  </CassandraSharp>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
